<app-toolbar [postTitle]="(currentPost$ | async)?.title"></app-toolbar>


<div class="post-page-container" *ngIf="currentPost$ | async as post">
    <img mat-card-lg-image class="image-container" src="../../../assets/placeholder.jpg">

    <div *ngFor="let comment of post.comments">
        <post-comment [comment]="comment"></post-comment>
    </div>

    <form class="comment-form" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <mat-form-field hintLabel="Max 250 characters" appearance="fill" class="comment-form__dialog">
            <mat-label class="comment-form__label" for="message">Enter your comment</mat-label>
            <textarea 
            matInput
            #input
            maxlength="250" 
            placeholder="Be the good in the world"
            formControlName="message">
            </textarea>
            <mat-hint align="end"> {{ input.value?.length || 0 }}/250</mat-hint>
          </mat-form-field>
          <br>
          <button mat-flat-button color="accent" class="comment-form__button">Submit</button>
    </form>
</div>
